$colorFondoBotones: #fff;
$demonColorFondo: rgba(129, 39, 185, .5);
$attackColorFondo: rgba(52, 127, 131, .6);
$colorTextoTitulo: #fff;
$colorBordesBotones: #fff;
$colorFondoTransparente: rgba(255, 255, 255, .2);
$colorTextoBotones: #000;